# Docker compose env file
# https://docs.docker.com/compose/env-file/
# https://docs.docker.com/compose/reference/envvars/#compose_file
COMPOSE_FILE=docker-compose.yml
COMPOSE_PROJECT_NAME=chatopera.io
DEBUG=
MONGODB_PORT=8556
MONGODB_PORT2=8557
MONGO_URI=mongodb://mongodb:27017/fmt